@import url("./fonts/DelaGothicOne/stylesheet.css");
@import url("./fonts/IBMplexMono/stylesheet.css");

body {
    margin: 0;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    color: white;
    font-family: IBM Plex Mono;
}

h1, span, .tap {
    font-family: "Dela Gothic One";
    font-weight: 400;

}

.background-image {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    max-height: 1080px;
    min-width: 320px;
    min-height: 570px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-image: url(img/background.png);
    background-position: center center;
}


.central-container {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.status-block{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
}

.shadow-box {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: white solid 0.2rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 37px 0px #FFFFFF;
    font-size: 1.7rem;
    padding: 2.5% 5%;
    margin: 5% 0;
    font-family: "Dela Gothic One";
}

.central-container__explanation {
    width: 50%;
    text-align: center;
    font-size: 1.9rem;
}

.shadow-box_button {
    width: 20%;
    font-size: 1.3rem;
}

.logo-left {
    position: absolute;
    transform: rotate(270deg);
    height: 50%;
    bottom: 3%;
    left: 5%;
}

.tap {
    display: none;
}


.logo-right {
    position: absolute;
    height: 5%;
    bottom: 10%;
    right: 0%;
}

@media (max-width: 1700px) {
    .central-container {
        width: 72%;
    }
    .shadow-box {
        font-size: 1.5rem;
    }
}
@media (max-width: 1400px) {
    .shadow-box {
        font-size: 1.05rem;
        padding: 1.5% 3%;
    }
    .central-container__explanation {
        font-size: 1.1rem;
    }
    .status-block{
        font-size: 1rem;
    }
    .shadow-box_button {
        font-size: 0.8rem;
    }

}
@media (max-width: 992px) {
    .shadow-box {
        font-size: 0.8rem;
    }
    .status-block{
        font-size: 0.7rem;
    }
    .shadow-box_button {
        font-size: 0.6rem;
    }
}
@media (max-width: 768px) {
    .background-image {
        justify-content: flex-end;
    }
    .central-container {
        align-items: flex-end;
    }
    .status-block{
        flex-direction: column;
    }
    .central-container {
        text-align: right;
        margin: 5%;
    }
    .shadow-box_button {
        width: 50%;
        font-size: 0.6rem;
    }
    .logo-left {
        font-size: 0.9rem;
    }
    .logo-right {
        position: absolute;
        height: 5%;
        top: 0%;
        right: 0%;
    }
    .tap {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 40%;
        left: 30%;
        bottom: 10%;
    }

}
@media (max-width: 576px) {
    .central-container {
        width:80%;
    }
    .shadow-box {
        font-size: 0.85rem;
        padding: 1.5% 3%;
    }
    .central-container__explanation {
        font-size: 1rem;
    }
    .logo-left {
        font-size: 0.81rem;
    }
    .tap {
        font-size: 0.8rem;
    }
}
@media (max-width: 420px) {
    .shadow-box {
        font-size: 0.7rem;
        padding: 1% 2%;
    }
    .central-container__explanation {
        font-size: 0.8rem;
    }
    .logo-left {
        font-size: 0.65rem;
        margin: 6%;
    }
    .tap {
        font-size: 0.7rem;
    }
}
